{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Connect Advisor</h1>

  <p>This form will connect an advisor with a client using their respective IDs
  </p>

  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-row">
      <div class="col-auto">
        {{ form.client_id.label }} {{form.client_id}} 
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        {{ form.advisor_id.label }} {{form.advisor_id}} 
      </div>
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>

</div>

{% endblock %}

